p { font-size: larger;}

header {
    border-bottom: 1pt dotted #888;
    margin-bottom: 50px;
}

header img {
    margin-right: 50px;
}

header h1 {text-align: center;}

h2 {
    margin-top: 2em;
margin-bottom: 1em;}

h3 {margin-bottom: 20px;}

h4 {font-size: medium;
margin-bottom: 10px;}

nav {
    font-size: 100%;
}

footer {color: #ccc; 
    text-align: center;
margin-top: 50px;}

footer p {color: #ccc; 
text-align: center;
padding-left: 30%;}