* { font-size: larger;}
header {
    border-bottom: 1pt dotted #888;
    margin-bottom: 50px;
}

header img {
    margin-right: 50px;
}

header h1 {text-align: center;}

h2 {
    margin-top: 2em;
margin-bottom: 1em;}
